@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    @font-face {
      font-family: 'bortons';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url(/public/Burtons.otf) format('bortons');
    }
    
  }
  .poppins{
    font-family: var(--font-poppins);
    
  }
  .fraunces{
    font-family: var(--font-fraunces);
    
  }